
Desafio/.idea/Desafio.iml
*.xml
*.h
*.pth
*.txt
Desafio/venv/Lib/site-packages/pip-10.0.1-py3.6.egg/EGG-INFO/not-zip-safe
Desafio/venv/Lib/site-packages/pip-10.0.1-py3.6.egg/EGG-INFO/PKG-INFO
Desafio/venv/Lib/site-packages/pip-10.0.1-py3.6.egg/pip/__init__.py
*.dll
Desafio/venv/Lib/site-packages/pygame/pygame_icon.icns
*.cfg
*.json
*.egg
*.pyd
*.pgm
*.wav
*.ttf
Desafio/Prova.py
Desafio/revisao.py
Desafio/logica.py
Desafio/Meus textes.py
Desafio/venv/Lib/site-packages/pygame/__init__.py
Desafio/venv/Lib/site-packages/pygame/_camera_opencv_highgui.py
Desafio/venv/Lib/site-packages/pygame/_camera_vidcapture.py
Desafio/venv/Lib/site-packages/pygame/_dummybackend.py
Desafio/venv/Lib/site-packages/pygame/_numpysndarray.py
Desafio/venv/Lib/site-packages/pygame/_numpysurfarray.py
Desafio/venv/Lib/site-packages/pygame/camera.py
Desafio/venv/Lib/site-packages/pygame/colordict.py
Desafio/venv/Lib/site-packages/pygame/compat.py
Desafio/venv/Lib/site-packages/pygame/cursors.py
Desafio/venv/Lib/site-packages/pygame/docs/__init__.py
Desafio/venv/Lib/site-packages/pygame/docs/__main__.py
Desafio/venv/Lib/site-packages/pygame/docs/__pycache__/__init__.cpython-36.pyc
Desafio/venv/Lib/site-packages/pygame/docs/__pycache__/__main__.cpython-36.pyc
Desafio/venv/Lib/site-packages/pygame/docs/logos.html
Desafio/venv/Lib/site-packages/pygame/docs/pygame_logo.gif
Desafio/venv/Lib/site-packages/pygame/docs/pygame_powered.gif
Desafio/venv/Lib/site-packages/pygame/docs/pygame_small.gif
Desafio/venv/Lib/site-packages/pygame/docs/pygame_tiny.gif
Desafio/venv/Lib/site-packages/pygame/examples/__init__.py
Desafio/venv/Lib/site-packages/pygame/examples/__pycache__/__init__.cpython-36.pyc
Desafio/venv/Lib/site-packages/pygame/examples/__pycache__/aacircle.cpython-36.pyc
Desafio/venv/Lib/site-packages/pygame/examples/__pycache__/aliens.cpython-36.pyc
Desafio/venv/Lib/site-packages/pygame/examples/__pycache__/arraydemo.cpython-36.pyc
Desafio/venv/Lib/site-packages/pygame/examples/__pycache__/blend_fill.cpython-36.pyc
Desafio/venv/Lib/site-packages/pygame/examples/__pycache__/blit_blends.cpython-36.pyc
Desafio/venv/Lib/site-packages/pygame/examples/__pycache__/camera.cpython-36.pyc
Desafio/venv/Lib/site-packages/pygame/examples/__pycache__/chimp.cpython-36.pyc
Desafio/venv/Lib/site-packages/pygame/examples/__pycache__/cursors.cpython-36.pyc
Desafio/venv/Lib/site-packages/pygame/examples/__pycache__/eventlist.cpython-36.pyc
Desafio/venv/Lib/site-packages/pygame/examples/__pycache__/fastevents.cpython-36.pyc
Desafio/venv/Lib/site-packages/pygame/examples/__pycache__/fonty.cpython-36.pyc
Desafio/venv/Lib/site-packages/pygame/examples/__pycache__/freetype_misc.cpython-36.pyc
Desafio/venv/Lib/site-packages/pygame/examples/__pycache__/glcube.cpython-36.pyc
*.pyc
Desafio/venv/Lib/site-packages/pygame/examples/aacircle.py
Desafio/venv/Lib/site-packages/pygame/examples/aliens.py
Desafio/venv/Lib/site-packages/pygame/examples/arraydemo.py
Desafio/venv/Lib/site-packages/pygame/examples/blend_fill.py
Desafio/venv/Lib/site-packages/pygame/examples/blit_blends.py
Desafio/venv/Lib/site-packages/pygame/examples/camera.py
Desafio/venv/Lib/site-packages/pygame/examples/chimp.py
Desafio/venv/Lib/site-packages/pygame/examples/cursors.py
Desafio/venv/Lib/site-packages/pygame/examples/data/alien1.gif
Desafio/venv/Lib/site-packages/pygame/examples/data/alien1.jpg
Desafio/venv/Lib/site-packages/pygame/examples/data/alien1.png
Desafio/venv/Lib/site-packages/pygame/examples/data/alien2.gif
Desafio/venv/Lib/site-packages/pygame/examples/data/alien2.png
Desafio/venv/Lib/site-packages/pygame/examples/data/alien3.gif
Desafio/venv/Lib/site-packages/pygame/examples/data/alien3.png
*.bmp
*.gif
*.mpg
*.png
*.mp3
*.ogg
Desafio/venv/Lib/site-packages/pygame/examples/eventlist.py
Desafio/venv/Lib/site-packages/pygame/examples/fastevents.py
Desafio/venv/Lib/site-packages/pygame/examples/fonty.py
Desafio/venv/Lib/site-packages/pygame/examples/freetype_misc.py
Desafio/venv/Lib/site-packages/pygame/examples/glcube.py
Desafio/venv/Lib/site-packages/pygame/examples/headless_no_windows_needed.py
Desafio/venv/Lib/site-packages/pygame/examples/liquid.py
Desafio/venv/Lib/site-packages/pygame/examples/macosx/aliens_app_example/aliens.py
Desafio/venv/Lib/site-packages/pygame/examples/macosx/aliens_app_example/English.lproj/aliens.icns
*.java
*.nib
Desafio/venv/Lib/site-packages/pygame/examples/macosx/aliens_app_example/setup.py
Desafio/venv/Lib/site-packages/pygame/examples/macosx/macfont.py
Desafio/venv/Lib/site-packages/pygame/examples/mask.py
Desafio/venv/Lib/site-packages/pygame/examples/midi.py
Desafio/venv/Lib/site-packages/pygame/examples/moveit.py
Desafio/venv/Lib/site-packages/pygame/examples/oldalien.py
Desafio/venv/Lib/site-packages/pygame/examples/overlay.py
Desafio/venv/Lib/site-packages/pygame/examples/pixelarray.py
Desafio/venv/Lib/site-packages/pygame/examples/playmus.py
Desafio/venv/Lib/site-packages/pygame/examples/prevent_display_stretching.py
Desafio/venv/Lib/site-packages/pygame/examples/scaletest.py
Desafio/venv/Lib/site-packages/pygame/examples/scrap_clipboard.py
Desafio/venv/Lib/site-packages/pygame/examples/scroll.py
Desafio/venv/Lib/site-packages/pygame/examples/sound.py
Desafio/venv/Lib/site-packages/pygame/examples/sound_array_demos.py
Desafio/venv/Lib/site-packages/pygame/examples/stars.py
Desafio/venv/Lib/site-packages/pygame/examples/testsprite.py
Desafio/venv/Lib/site-packages/pygame/examples/vgrade.py
Desafio/venv/Lib/site-packages/pygame/freetype.py
Desafio/venv/Lib/site-packages/pygame/ftfont.py
Desafio/venv/Lib/site-packages/pygame/gp2x/__init__.py
Desafio/venv/Lib/site-packages/pygame/gp2x/constants.py
Desafio/venv/Lib/site-packages/pygame/gp2x/locals.py
Desafio/venv/Lib/site-packages/pygame/install.html
Desafio/venv/Lib/site-packages/pygame/LGPL
Desafio/venv/Lib/site-packages/pygame/locals.py
Desafio/venv/Lib/site-packages/pygame/macosx.py
Desafio/venv/Lib/site-packages/pygame/midi.py
Desafio/venv/Lib/site-packages/pygame/pkgdata.py
*.ico
*.svg
*.tiff
*.html
Desafio/venv/Lib/site-packages/pygame/sndarray.py
Desafio/venv/Lib/site-packages/pygame/sprite.py
Desafio/venv/Lib/site-packages/pygame/surfarray.py
Desafio/venv/Lib/site-packages/pygame/sysfont.py
Desafio/venv/Lib/site-packages/pygame/tests/base_test.py
Desafio/venv/Lib/site-packages/pygame/tests/blit_test.py
Desafio/venv/Lib/site-packages/pygame/tests/bufferproxy_test.py
